*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
     font-family: 'Times New Roman', Times, serif;
     display: flex;
     justify-content: center;
     align-items: center;
     min-height: 100vh;
     background-image: url('./assests/pexels-cottonbro-5124881.jpg');
     background-size: cover;
     background-position: center;
     background-repeat:no-repeat ;
     
}

